<h3>EDIT A BOARD GAME BROH</h3>
    <form action="/games" method="GET">
      <input type="text" name="name" value="<%= game.name %>" /><br />
      <input type="text" name="description" value="<%= game.description %>" /><br />
      <input type="submit" value="edit" />
    </form>
