<ul>
      <% games.forEach(function(game, i) { %>
        <li>   <%= game.name %> // <%= game.description %>

      <a href="/games/<%= i %>" class='delete'> delete</a> <a href="/games/<%= i %>/edit"> edit</a></li>
        <%  }); %>
</ul>
