<h3>SUBMIT A NEW GAME BROH</h3>
    <form action="/games" method="POST">
      <input type="text" name="name" placeholder="game title" /><br />
      <input type="text" name="description" placeholder="describe the game"/><br />
      <input type="submit" value="add" />
    </form>
